@import '~antd/dist/antd.css';
body {
  
}

#root,.ant-layout{
  height: 100%;

}

.ant-layout {
  .ant-layout-header {
    background: #fff;
    padding: 0;
  }


}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 8px;  /*滚动条宽度*/
    height: 8px;  /*滚动条高度*/
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    background-color: rgb(255, 255, 255);/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 6px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: rgb(199, 199, 199);  /*滚动条的背景颜色*/
}  



